@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/Images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0px;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 23px;
    padding: 0px 30px;

}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 38px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 700px;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 700px;
    font-size: 24px;
    text-align: center;
}

.sepration {
    height: 2px;
    background-color: #494545;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(143, 139, 139, 0.215);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red-sn {
    background-color: red;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    font-weight: 300;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(240, 237, 237, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    /* flex-wrap: wrap; */
}

@media screen and (max-width: 1200px){
    
    .first{
        flex-wrap: wrap;
    }
}

.secimg {
    position: relative;
}

.secimg img {
    width: 403px;
    position: relative;
    z-index: -1;
}

.secimg video {
    width: 292px;
    position: absolute;
    top: 63px;
    right: 58px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    /* padding: 34px 0; */
}

section.first>div :nth-child(1) {
    font-size: 38px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 20px;
}

.faq {
    background-color: black;
    color: white;
    padding: 24px;
}

.faq h2 {
    text-align: center;

}

.faqbox:hover {
    background-color: rgb(67, 65, 65);
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    background-color: rgb(43, 43, 43);
    padding: 24px;
    max-width: 60vw;
    margin: 24px auto;
    justify-content: space-between;
    cursor: pointer;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
footer .questions{
    padding: 34px 0;
}



.footer a{
    text-decoration: none;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
   
}

@media screen and (max-width:1200px) {
    .footer{
        grid-template-columns: 1fr 1fr ;
        gap: 55px;
    }
}
.footer-items{
    display: flex;
    flex-direction: column;
    gap: 23px;
    
}